{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="row justify-content-around">
        <div class="col-12">
            <h2>crea un nuovo progetto</h2>
            <div class="createForm">
                    <form action="" method="post">
                            <input class="form-control" name="name" type="text" placeholder="Nome progetto">
                            <input class="form-control" name="code" type="text" placeholder="Codice progetto">
                            <input class="form-control" name="desc" type="text" placeholder="Descrizione progetto">
                        
                            <input type="date" name="startDate" id="project-startDate">
                            <input type="date" name="endDate" id="project-endDate">
                        
                            <input type="submit" value="Crea progetto!" id="submitBtn" class="btn btn-lg btn-block">
                        </form>
            </div>
                
        </div>
    </div>
</div>


{% endblock %}