{% extends 'base.html' %}

{% block content %}



<div class="container">
    <div class="row justify-content-around">
        <div class="col-6">
            <h2>modifica {{ progetto.nome }}</h2>
            <div class="createForm">
                    <form action="" method="post">
                            <input class="form-control" name="name" type="text" value="{{ progetto.nome }}">
                            <input class="form-control" name="code" type="text" value="{{ progetto.codice }}">
                            <input class="form-control" name="desc" type="text" value="{{ progetto.descrizione }}">
                        
                            <input type="date" name="startDate" id="project-startDate">
                            <input type="date" name="endDate" id="project-endDate">
                        
                            <input type="submit" value="Applica modifiche" id="submitBtn" class="btn btn-default btn-lg btn-block">
                        </form>
            </div>
                
        </div>
    </div>
</div>


{% endblock %}