<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prova web app con Python</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="icon" href="static/img/logo.png" type="image/png" />
	
	
	<!-- IMPOTING MY OWN STYLE RULES -->
	<link rel="stylesheet" href="static/css/stile.css">
	
	<!-- IMPORTING JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="menu">
			<div class="menu_logo">
				<img src="static/img/logo_menu.png" \>
			</div>
			<div class="menu_content">
				<div class="menu_exit">
					Esci
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="section">
		</div>
	</div>
	
	<script src="static/js/main.js"></script>
	<script>
		$().ready(async function() {
			credential = getCredential();
			
			if (credential == null) {
				$(window.location).attr('href', 'signIn');
			}
			
			var user_info = await controller('getUserInfo', credential);
			
			html_code = '<div class="section section_welcome"><div class="user_welcome"><span class="welcome_label">BENVENUTO</span> ' + user_info.nome + ' ' + user_info.cognome + '</div></div>';
			
			$('.content').prepend(html_code);
			
			var comments = await controller('getAllMessage', credential);
			console.log(comments);
		});
		
		$('body').on('click', '.menu_exit', function() {
			localStorage.clear(credential);
			$(window.location).attr('href', 'signIn');
		});
	</script>
</body>
</html>