{% extends 'base.html' %}

{% block content %}
<h2> overview </h2>

<ul id="listaProgetti">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome progetto</th>
                <th scope="col">Codice</th>
                <th scope="col">Data di inizio</th>
                <th scope="col">Data di fine</th>
            </tr>
        </thead>

        <tbody>

            {% for progetto in progetti %}
            
            <tr>
                <th><a href="project?id={{ progetto.id }}">{{ progetto.nome }} </a></th>
                <td>{{ progetto.codice }}</td>
                <td>{{ progetto.data_inizio }}</td>
                <td>{{ progetto.data_fine }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>

</ul>

{% endblock %}