ul#listaProgetti {
    list-style: none;
    padding: 0px;
}

#progettoItem {
    margin-bottom: 2rem;
}

.createForm {
    width: 100%;
}

#submitBtn {
    margin-top: 40px;
}

.createForm form input {
    margin-top: 20px;
}

.addContainer{
    width: 5rem;
    display: flex;
    height: 100px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

    #addFase {
        width: 3rem;
        height: 3rem;
        margin: auto;
        -webkit-transition: all .3s ease-in-out;
        /* Safari */
        transition: all .3s ease-in-out;
    }

    #addFase:hover {
        width: 4rem;
        height: 4rem;
    }